<h2><%= question.author %></h1>
<h3><%= question.title %></h3>
<p><%= question.message %></p>
<hr>
<form method="POST" action="/question/<%= question._id %>">
    <input name="name" type="text" placeholder="YOUR NAME"><br><br>
    <textarea name="answer" id="answer" cols="70" rows="7" placeholder="YOUR QUESTION"></textarea><br><br>
    <input type="submit" value="Submit">
</form>
<% question.answers.forEach(answer => { %>
    <hr>
    <h3><%= answer.author %>&nbsp;&nbsp;<%= answer.date %></h3>
    <p><%= answer.message %></p>
<% }); %>